/* Certifications.css */
body {
  margin: 0; /* Remove default margin */
  background-color: black; 
  font-family:lato;
}

.Section1{
  height:90vh;
  width:100vw;
  background-color:white;
  display:flex;
  flex-direction:row;
}

.Section1Left{
  width:50vw;
  background-color:black;
  display:flex;
  align-items:center;
  justify-content:center;

}
.Section1Left img{
  width:60%;
  height:80%;
  border:10px solid white;
}

.Section1Right{
  width:50vw;
  background-color:black;
  display:flex;
  align-items:center;
  justify-content:center;
  
}

.s1rsubcontainer{
  width:80%;
  
  align-self:center;
  margin:auto;
}

.Section1Right h3{
  color:white;
  font-size:40px;

}

/* section 2 */

.Section2{
  height:100vh;
  width:100vw;
  background-color:white;
  display:flex;
  flex-direction:row;
}

.Section2Left{
  width:50vw;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;

}

.Section2Left h3{
  color:black;
  font-size:30px;
}


.Section2Right{
  width:50vw;
  
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}

.Section2Right img{
  width:60%;
  height:90%;
  

}

.certiImage{
  width:100%
}

/*sectio 3 */

.Section3{
  padding-top:10vh;
  padding-bottom:10vh;
  width:100vw;
  background-color:black;
  display:flex;
  flex-direction:row;
}


.s3rsubcontainer h3{
  width:80%;
  
  margin:auto;



}

.s3rsubcontainer h3{
  color:white;
  font-size:40px;


}



/* Add any additional styling as needed */
