/* Certifications.css */
body {
  margin: 0; /* Remove default margin */
  background-color: black; 
  font-family:lato;
  
}

.Section1{
  height:90vh;
  width:100vw;
  background-color:white;
  display:flex;
  flex-direction:row;
}

.Section1Left{
  width:50vw;
  background-color:black;
  display:flex;
  align-items:center;
  justify-content:center;

}
.Section1Left img{
  width:60%;
  height:80%;
  border:10px solid white;
}

.Section1Right{
  width:50vw;
  background-color:black;
  display:flex;
  align-items:center;
  justify-content:center;
  
}

.s1rsubcontainer{
  width:80%;
  
  align-self:center;
  margin:auto;
}

.Section1Right h3{
  color:white;
  font-size:40px;

}

/* section 2 */

.Section2{
  height:100vh;
  width:100vw;
  background-color:white;
  display:flex;
  flex-direction:row;
}

.Section2Left{
  width:50vw;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;

}

.Section2Left h3{
  color:black;
  font-size:40px;
}


.Section2Right{
  width:50vw;
  
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}

.Section2Right img{
  width:60%;
  height:90%;
  
}

.certiImage{
  width:100%
}

/*sectio 3 */

.Section3{
  padding-top:10vh;
  padding-bottom:10vh;
  width:100vw;
  background-color:black;
  display:flex;
  flex-direction:row;
}


.s3rsubcontainer h3{
  width:80%;
  margin:auto;
}

.s3rsubcontainer h3{
  color:white;
  font-size:40px;


}


/* section 4 */


.Section4{
  height:100vh;
  width:100vw;
  background-color:white;
  display:flex;
  flex-direction:row;
  background-image: url('../assets/personalImage_1.png');
  background-size: cover;
  background-position: center; 

} 

.Section4 h3{
  font-size:50px;
  margin:0 auto;
  margin-top:15%;
  color:black;
  
  
}

.Section6{
  background-color: black;
  height: 50vh;
  display:flex;
  flex-direction:row;
  color:white
}

.Section6 .Subsection1{
  align-self:left;
  padding-left:5vw;
  justify-content:center;
}
 
.Section6 .Subsection1 p{
  font-size:25px;
  justify-content:space-around;
  text-decoration: underline;
  
}


@media (max-width: 768px) {

  .Section1Left img{
    width:90%;
    height:50%;
    border:2px solid white;
  }


.Section1Right h3{
  color:white;
  font-size:19px;
  font-weight:100;

}
.Section2Left h3{
  font-size:19px;
  font-weight:100;
}

.Section2Right img{
  width:90%;
  height:70%;
  
}
.s3rsubcontainer h3{
  color:white;
  font-size:19px;
  font-weight:100;
}
.Section4 h3{
  font-size:20px;
  margin:0 auto;
  margin-top:70%;
  color:black;
  width:70%;
  font-weight:100;
 
  
}
}
